{% extends 'courseinfo/base.html' %}

{% block title %}
    Course - {{ course.course_name }}
{% endblock %}

{% block content %}
    <h2>{{ course.course_number }} - {{ course.course_name }}</h2>

    <section>
        <table>
            <tr>
                <th>Course Number:</th>
                <td>{{ course.course_number }}</td>
            </tr>
            <tr>
                <th>Course Name:</th>
                <td>{{ course.course_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Sections</h3>
        <ul>
            {% for section in course.sections.all %}
                <li>
                    <a href="">{{ section.section_name }}</a> - {{ section.semester }}
                </li>
            {% empty %}
                <li><em>There are currently no sections for this course.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
